<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", timesheets_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_timesheet_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", timesheet_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.timesheet._type", :default => t("activerecord.labels._type", :default => " type")) %>:</b>
          <%= @timesheet._type %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.timesheet._id", :default => t("activerecord.labels._id", :default => "")) %>:</b>
          <%= @timesheet._id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.timesheet.employee", :default => t("activerecord.labels.employee", :default => "Employee")) %>:</b>
          <%= @timesheet.employee %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.timesheet.machine_code", :default => t("activerecord.labels.machine_code", :default => "Machine code")) %>:</b>
          <%= @timesheet.machine_code %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.timesheet.date", :default => t("activerecord.labels.date", :default => "Date")) %>:</b>
          <%= @timesheet.date %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.timesheet.time", :default => t("activerecord.labels.time", :default => "Time")) %>:</b>
          <%= @timesheet.time %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_timesheet_path(@timesheet), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), timesheet_path(@timesheet), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
